<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/iconsmind.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/owl.carousel.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/interface-icons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/lightbox.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/socicon.css" | prepend: site.baseurl }}">

    <!-- <link href="" rel="stylesheet" type="text/css" media="all" /> -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300%7CLato:400,400italic" rel="stylesheet" type="text/css">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/img/favicon.ico?" | prepend: site.baseurl }}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51117727-28', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1756663104590881');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1756663104590881&ev=PageView
    &noscript=1"/>
    </noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for fundamental.digital -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:464567,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<meta name="google-site-verification" content="c6NB1PkUF6MFcSTYbAKJr8rPvnj87NEXmlQ8ThX469A" />

</head>


<!-- <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/iconsmind.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/owl.carousel.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/interface-icons.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightbox.min.css" | prepend: site.baseurl }}"> -->
