---
layout: default
---

<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="elements--title">
          <h4>Vertical Blog Cards</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#">
          <div class="card card-4">
            <div class="card__image">
              <img alt="Pic" src="img/small4.jpg">
            </div>
            <div class="card__body boxed boxed--sm bg--white">
              <h6>Food &amp; Travel</h6>
              <div class="card__title">
                <h5>Exploring New York's most popular coffee shops</h5>
              </div>
              <hr>
              <div class="card__lower">
                <span>by</span>
                <span class="h6">Luke Gibson</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#">
          <div class="card card-4">
            <div class="card__image">
              <img alt="Pic" src="img/small1.jpg">
            </div>
            <div class="card__body boxed boxed--sm bg--white">
              <h6>Marketing</h6>
              <div class="card__title">
                <h5>Advice for stirring your online community and fostering engagement</h5>
              </div>
              <hr>
              <div class="card__lower">
                <span>by</span>
                <span class="h6">Abby Bollard</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#">
          <div class="card card-4">
            <div class="card__image">
              <img alt="Pic" src="img/small2.jpg">
            </div>
            <div class="card__body boxed boxed--sm bg--white">
              <h6>Technology</h6>
              <div class="card__title">
                <h5>Opinion: Mobile camera apps have reached saturation point</h5>
              </div>
              <hr>
              <div class="card__lower">
                <span>by</span>
                <span class="h6">Cameron Smith</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->


    {{ content }}
